[Unit]
Description=Remote desktop service (VNC)
After=syslog.target network.target

[Service]
Type=forking
User={{ user_account_owner }}
ExecStart=/bin/bash -c 'x11vnc -forever -rfbauth {{ user_account_home }}/.vnc/passwd &'

[Install]
WantedBy=multi-user.target